<p style="text-align: center; font-weight: bold; font-family: 'Times New Roman', Times, serif; font-size: 24px">Welcome to event centers in Lagos</p>
<div class="row" style="margin-bottom: 3%">
    <div class="col" >
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="assets/events/image1.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">This is a DevCenter that is coming up on the 20th September, 2018 at NgHub Yaba, Lagos Nigeria.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="assets/events/zone.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Concatenate Conference happening at The Zone Gbagada, Lagos on 11th August, 2018.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="assets/events/theplace.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">React Summit 2018 happening at The Place Victoria Island, Lagos on 25th August, 2018.</p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 3%">
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="assets/events/cchub.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Teen Summers code happening at CCHub Yaba, Lagos on 18th August, 2018.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="assets/events/andela.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Design as a collaborative tool happening at NgHub Yaba, Lagos on 18th August, 2018.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="assets/events/nghub2.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Design as a collaborative tool happening at NgHub Yaba, Lagos on 18th August, 2018.</p>
            </div>
        </div>
    </div>
</div>

  
  
 
